.nav>li>a{
	padding: 15px 25px;
}
.nav{
	border-radius: 0px;
}
table th {
            font-weight:bold;
            background-color: #85C1E9;
            color:white;
        }

.logo img{height:50px;
width:50px;}

footer{margin: 1em 0 1em 0;}
.row{
	margin: 0px;
}
.rightAlign{
	flex: 1;
	position: absolute;
	top: 180px;
	right: 180px;
}

.right{
	text-align: right;
}
.left{
  text-align: left;
}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #85C1E9;
   color: white;
   text-align: center;
}


.center{
	text-align: center;
}